@mixin size($width, $height: null) {
  width: $width;
  height: $height;
}

@mixin textellipsis($maxwidth) {
  max-width: $maxwidth;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin position(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($direction: row, $justify: null, $alignitems: null, $wrap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignitems;
  flex-wrap: $wrap;
}

@mixin media($mwidth) {
  @media (max-width: $mwidth) {
    @content;
  }
}
