@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

$font: 'Rubik', sans-serif;

@font-face {
    font-family: 'Iconfont';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



